<a href="https://colab.research.google.com/github/ejraman/6m-data-1.6-intro-numpy/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

print("Pandas version:", pd.__version__)
print("Numpy version:", np.__version__)

Pandas version: 2.2.2
Numpy version: 2.0.2

In [3]:
obj = pd.Series([4, 7, -5, 3], index=["d", "b", "a", "c"])
obj

d    4
b    7
a   -5
c    3
dtype: int64

In [7]:
# [DEMO] Creating a DataFrame from a dictionary
data = {
    "state": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
    "year": [2000, 2001, 2002, 2001, 2002, 2003],
    "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
}

frame = pd.DataFrame(data)
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [8]:
frame.head(3)

  state  year  pop
0  Ohio  2000  1.5
1  Ohio  2001  1.7
2  Ohio  2002  3.6

In [10]:
frame ['debt'] = 13.5
frame

    state  year  pop  debt
0    Ohio  2000  1.5  13.5
1    Ohio  2001  1.7  13.5
2    Ohio  2002  3.6  13.5
3  Nevada  2001  2.4  13.5
4  Nevada  2002  2.9  13.5
5  Nevada  2003  3.2  13.5

In [13]:
frame['eastern'] = frame.state == 'Ohio'
frame

    state  year  pop  debt  eastern
0    Ohio  2000  1.5  13.5     True
1    Ohio  2001  1.7  13.5     True
2    Ohio  2002  3.6  13.5     True
3  Nevada  2001  2.4  13.5    False
4  Nevada  2002  2.9  13.5    False
5  Nevada  2003  3.2  13.5    False

In [14]:
# [DEMO] Detecting missing values
data_with_nan = pd.Series([1, np.nan, 3.5, np.nan, 7])

print("Original data:")
display(data_with_nan)

print("\nWhich values are missing?")
display(data_with_nan.isna())

print("\nWhich values are NOT missing?")
display(data_with_nan.notna())

Original data:

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

Which values are missing?

0    False
1     True
2    False
3     True
4    False
dtype: bool

Which values are NOT missing?

0     True
1    False
2     True
3    False
4     True
dtype: bool

In [ ]:
# [EXERCISE] Starter Code
fruit_data = {
    "fruit": ["Apple", "Banana", "Cherry", "Date"],
    "quantity": [100, 40, 200, 20]
}

# 1. Create DataFrame
# inventory = ...

# 2. Add Price

# 3. Calculate Total Value

# 4. Flag Low Stock

# Display result

In [15]:
import pandas as pd

# [EXERCISE] Starter Code
fruit_data = {
    "fruit": ["Apple", "Banana", "Cherry", "Date"],
    "quantity": [100, 40, 200, 20]
}

# 1) Create DataFrame
inventory = pd.DataFrame(fruit_data)

# 2) Add price column
inventory["price"] = [3.0, 4.0, 2.0, 5.0]

# 3) Calculate total_value = quantity * price
inventory["total_value"] = inventory["quantity"] * inventory["price"]

# 4) Flag low_stock = True if quantity < 50
inventory["low_stock"] = inventory["quantity"] < 50

# Display result
inventory

    fruit  quantity  price  total_value  low_stock
0   Apple       100    3.0        300.0      False
1  Banana        40    4.0        160.0       True
2  Cherry       200    2.0        400.0      False
3    Date        20    5.0        100.0       True

In [16]:
# Setup for Demo
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=["Ohio", "Colorado", "Utah", "New York"],
                    columns=["one", "two", "three", "four"])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [17]:
data.loc["Colorado"]

one      4
two      5
three    6
four     7
Name: Colorado, dtype: int64

In [18]:
# [DEMO] Select 'Colorado' row using loc
print("--- Row by Label ---")
display(data.loc["Colorado"])

# [DEMO] Select 'Colorado' row using iloc (it's at index 1)
print("\n--- Row by Position ---")
display(data.iloc[1])

--- Row by Label ---

one      4
two      5
three    6
four     7
Name: Colorado, dtype: int64

--- Row by Position ---

one      4
two      5
three    6
four     7
Name: Colorado, dtype: int64

In [ ]:
# [DEMO] Boolean Filtering
# Select rows where column 'three' is greater than 5
data[data["three"] > 5]

In [19]:
# [DEMO] Dropping rows and columns
print("Drop rows 'Colorado' and 'Ohio':")
display(data.drop(["Colorado", "Ohio"]))

print("\nDrop column 'two':")
display(data.drop("two", axis=1))

Drop rows 'Colorado' and 'Ohio':

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

Drop column 'two':

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

In [23]:
import pandas as pd

# --- Setup Data (creates df) ---
df = pd.DataFrame(
    {
        "one":   [0.0, 1.0, 2.0, 3.0],
        "two":   [4.0, 5.0, 6.0, 7.0],
        "three": [8.0, 9.0, 10.0, 11.0],
        "four":  [12.0, 13.0, 14.0, 15.0],
    },
    index=["Ohio", "Colorado", "Utah", "New York"]
)

# --- [EXERCISE] Write your code here ---

# 1) Utah and New York (select those rows)
utah_newyork = df.loc[["Utah", "New York"]]

# 2) 'two' for 'Ohio'
ohio_two = df.loc["Ohio", "two"]

# 3) Select all rows where column 'three' is greater than 5
three_gt_5 = df[df["three"] > 5]

# 4) Update the value of 'four' in the 'New York' row to be 100
df.loc["New York", "four"] = 100

# --- Display results ---
print("1) Utah and New York rows:")
print(utah_newyork, "\n")

print("2) Value of 'two' for Ohio:")
print(ohio_two, "\n")

print("3) Rows where 'three' > 5:")
print(three_gt_5, "\n")

print("4) Updated DataFrame:")
print(df)

1) Utah and New York rows:
          one  two  three  four
Utah      2.0  6.0   10.0  14.0
New York  3.0  7.0   11.0  15.0

2) Value of 'two' for Ohio:
4.0

3) Rows where 'three' > 5:
          one  two  three  four
Ohio      0.0  4.0    8.0  12.0
Colorado  1.0  5.0    9.0  13.0
Utah      2.0  6.0   10.0  14.0
New York  3.0  7.0   11.0  15.0

4) Updated DataFrame:
          one  two  three   four
Ohio      0.0  4.0    8.0   12.0
Colorado  1.0  5.0    9.0   13.0
Utah      2.0  6.0   10.0   14.0
New York  3.0  7.0   11.0  100.0

In [24]:
# Setup Data
frame = pd.DataFrame({
    "b": [4, 7, -3, 2],
    "a": [0, 1, 0, 1]
}, index=['Row1', 'Row2', 'Row3', 'Row4'])
frame

      b  a
Row1  4  0
Row2  7  1
Row3 -3  0
Row4  2  1

In [25]:
# [DEMO] Sort by values in column 'b'
frame.sort_values(by="b")

      b  a
Row3 -3  0
Row4  2  1
Row1  4  0
Row2  7  1

In [26]:
# [DEMO] Applying a function
def label_size(val):
    return "Big" if val > 2 else "Small"

frame['b_size'] = frame['b'].apply(label_size)
frame

      b  a b_size
Row1  4  0    Big
Row2  7  1    Big
Row3 -3  0  Small
Row4  2  1  Small

In [27]:
import pandas as pd

# [EXERCISE] Starter Code
scores = pd.DataFrame({
    "Student": ["Alice", "Bob", "Charlie", "David"],
    "Math": [85, 45, 92, 60],
    "Science": [70, 55, 88, 72]
})

# 1) Sort by 'Math' descending (highest first)
scores = scores.sort_values(by="Math", ascending=False).reset_index(drop=True)

# 2) Create 'Math_Rank' using rank() (highest score = rank 1)
scores["Math_Rank"] = scores["Math"].rank(ascending=False, method="min").astype(int)

# 3) Function: Pass if >= 60 else Fail
def pass_fail(score):
    return "Pass" if score >= 60 else "Fail"

# 4) Apply function to create 'Status'
scores["Status"] = scores["Math"].apply(pass_fail)

# Display result
scores

   Student  Math  Science  Math_Rank Status
0  Charlie    92       88          1   Pass
1    Alice    85       70          2   Pass
2    David    60       72          3   Pass
3      Bob    45       55          4   Fail